.env.mk
.env.sh
.metatargets.mk
make.log
# Important: do not trigger auto-symlinking for the .vscode folder in root of dotfiles/
./.vscode  # Important: do not trigger auto-symlinking for this folder!
dotfiles-upstream
install.sh

